In [1]:
import pandas as pd

In [2]:
# Load file as a DataFrame data object
category_translation = pd.read_csv('product_category_name_translation.csv')

In [3]:
# Check number of rows and the values of each column from the few last rows
# There are 71 rows (starting from index 0) and 2 columns
category_translation.tail()

            product_category_name product_category_name_english
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

## Adding two new rows for two more categories
- To match with all categories appear in the products dataset

In [4]:
# Add a new row by calculate the length of index (numbers of row) 
# specifying the length as a row number to add
category_translation.loc[len(category_translation.index)] = ['pc_gamer', 'pc_gamer']

# Add another row with the same method
category_translation.loc[len(category_translation.index)] = ['portateis_cozinha_e_preparadores_de_alimentos', 'Portable_Kitchen_&_Food_Preparers']

In [5]:
# Check the result of adding new rows, two new rows has been added correctly
category_translation.tail()

,product_category_name,product_category_name_english
68,fraldas_higiene,diapers_and_hygiene
69,fashion_roupa_infanto_juvenil,fashion_childrens_clothes
70,seguros_e_servicos,security_and_services
71,pc_gamer,pc_gamer
72,portateis_cozinha_e_preparadores_de_alimentos,Portable_Kitchen_&_Food_Preparers

## Removing underscore characters from the English name column

In [6]:
# Replace underscore (_) with blank space (' ')
category_translation['product_category_name_english'] = category_translation['product_category_name_english'].str.replace('_', ' ')

In [7]:
# Check the replacing characters
category_translation['product_category_name_english']

0                         health beauty
1                 computers accessories
2                                  auto
3                        bed bath table
4                       furniture decor
                    ...
68                  diapers and hygiene
69            fashion childrens clothes
70                security and services
71                             pc gamer
72    Portable Kitchen & Food Preparers
Name: product_category_name_english, Length: 73, dtype: object

## Converts first character of each word to uppercase and remaining to lowercase

In [8]:
category_translation['product_category_name_english'] = category_translation['product_category_name_english'].str.title()

In [9]:
# Check the result of converting characters
category_translation['product_category_name_english']

0                         Health Beauty
1                 Computers Accessories
2                                  Auto
3                        Bed Bath Table
4                       Furniture Decor
                    ...
68                  Diapers And Hygiene
69            Fashion Childrens Clothes
70                Security And Services
71                             Pc Gamer
72    Portable Kitchen & Food Preparers
Name: product_category_name_english, Length: 73, dtype: object

## Some thougts about working on this dataset

#### Trying to add new category to the last row by creating a variable and use DataFrame.append() to the original DataFrame
#### This code does not work
new_rows = {'product_category_name': ['pc_gamer', 'portateis_cozinha_e_preparadores_de_alimentos'], 
           'product_category_name_english': ['pc_gamer', 'Portable Kitchen & Food Preparers']}

product_category_translation = pd.concat([product_category_translation, new_rows])

In [10]:
# This code for experimentation, do not run
# This code can edit the column values by using .iloc to spcify the row number to edit

# category_translation.iloc[71] = ['111pc_gamer', '222pc_gamer']