### olist_products_dataset

In [54]:
# Import Libraries
import pandas as pd
import numpy as np
import sqlalchemy as db

In [55]:
# create a dataframe from csv file
products = pd.read_csv('C:\\Users\\Abhirami\\Desktop\\JDE-Final Project\\olist_products_dataset.csv')

##### General overview

In [56]:
# Display the first few rows of the products DataFrame
print(products.head())

                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

In [57]:
# Display concise summary information 
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [58]:
# Checking percentage of missing value in each data
round((products.isnull().sum()/len(products)*100),2)

product_id                    0.00
product_category_name         1.85
product_name_lenght           1.85
product_description_lenght    1.85
product_photos_qty            1.85
product_weight_g              0.01
product_length_cm             0.01
product_height_cm             0.01
product_width_cm              0.01
dtype: float64

In [59]:
# Checking  missing value in each data
products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [60]:
# Calculate the number of unique values in each column along the vertical axis (axis=0).
products.nunique(axis=0)

product_id                    32951
product_category_name            73
product_name_lenght              66
product_description_lenght     2960
product_photos_qty               19
product_weight_g               2204
product_length_cm                99
product_height_cm               102
product_width_cm                 95
dtype: int64

In [61]:
# Retrieve the dimensions of the products DataFrame
products.shape

(32951, 9)

In [62]:
#Identify duplicates
print(products.duplicated().sum())

0

#### Data Cleaning and Transformation

In [42]:
# Fill missing values in product_category_name column with "uncategorized" only where it's null
products.loc[products['product_category_name'].isnull(), 'product_category_name'] = 'uncategorized'
# List of columns to fill with "NAN"
columns_to_fill = ['product_name_lenght', 'product_description_lenght', 
                   'product_photos_qty', 'product_weight_g', 
                   'product_length_cm', 'product_height_cm', 
                   'product_width_cm']

# Fill missing values in specified columns with "NAN"
products[columns_to_fill] = products[columns_to_fill].fillna("NaN")

Fills missing values in the 'product_category_name' column with "uncategorized" using boolean indexing.

Defines a list of columns (columns_to_fill) that contain numerical data where missing values may be present.


The specified numerical columns are filled with "NaN" values using the fillna() method, ensuring consistent handling of missing data across those columns.

In [43]:
# Checking  missing value in each data
products.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

##### Create table in postgreSQL

In [63]:
# Create connection engine
#user postgres, password admin,database
engine = db.create_engine('postgresql://postgres:admin@localhost:5434/olist_store') 
#engine = db.create_engine('postgresql://adminadmin:InsightJDE03@jde03.postgres.database.azure.com:5432/postgres')

conn = engine.raw_connection()

In [52]:
# Create new tables in PostgreSQL

commands = ('''CREATE TABLE IF NOT EXISTS orders (
            product_id VARCHAR(255) PRIMARY KEY,
            product_category_name VARCHAR(255),
            product_name_length FLOAT,
            product_description_length FLOAT,
            product_photos_qty FLOAT,
            product_weight_g FLOAT,
            product_length_cm FLOAT,
            product_height_cm FLOAT,
            product_width_cm FLOAT
);''')

  
# Initialize connection to PostgreSQL
cur = conn.cursor()

# Create cursor to execute SQL commands

#for command in commands:
cur.execute(commands)

# Commit changes
conn.commit()

# Close communication with server
cur.close()
conn.close()

In [53]:
# Insert the data into the 'orders' table
products.to_sql('products', engine, if_exists='append', index=False)

951