### olist_orders_dataset

In [8]:
# Import Libraries
import pandas as pd
import numpy as np
import sqlalchemy as db 
from datetime import datetime

In [9]:
# create a dataframe from csv file
orders = pd.read_csv('C:\\Users\\Abhirami\\Desktop\\JDE-Final Project\\olist_orders_dataset.csv')

#### General overview

In [4]:
#Display the first few rows of the datase
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [28]:
#Information about the dataset
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [10]:
# Checking percentage of missing value in each data
round((orders.isnull().sum()/len(orders)*100),2)

order_id                         0.00
customer_id                      0.00
order_status                     0.00
order_purchase_timestamp         0.00
order_approved_at                0.16
order_delivered_carrier_date     1.79
order_delivered_customer_date    2.98
order_estimated_delivery_date    0.00
dtype: float64

In [11]:
# Checking  missing value in each data
orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [12]:
#Identify duplicates
print(orders.duplicated().sum())

0

In [32]:
# This provides insights into the distribution of order statuses.
orders[['order_status']].value_counts()

order_status
delivered       96478
shipped          1107
canceled          625
unavailable       609
invoiced          314
processing        301
created             5
approved            2
Name: count, dtype: int64

In [33]:
#Count the number of order_id values where order_status is "delivered"
num_delivered_orders = orders[orders['order_status'] == 'delivered']['order_id'].nunique()

print(f"Number of orders marked as delivered: {num_delivered_orders}")

Number of orders marked as delivered: 96478

In [34]:
# Filter the DataFrame for delivered orders with a valid order_delivered_customer_date
delivered_with_timestamp = orders[(orders['order_status'] == 'delivered') & orders['order_delivered_customer_date'].notna()]

# Count the number of order IDs for delivered orders with a valid order_delivered_customer_date
delivered_count = delivered_with_timestamp['order_id'].nunique()

# Count the number of order IDs for not delivered orders (considering all orders)
total_orders = orders['order_id'].nunique()
not_delivered_count = total_orders - delivered_count

print(f"Number of order IDs with order_status as delivered and a valid order_delivered_customer_date: {delivered_count}")
print(f"Number of order IDs with order_status as not delivered: {not_delivered_count}")

Number of order IDs with order_status as delivered and a valid order_delivered_customer_date: 96470
Number of order IDs with order_status as not delivered: 2971

In [35]:
# Filter the DataFrame for orders with a date in the order_delivered_customer_date column and order_status as not delivered
not_delivered_with_timestamp = orders[(orders['order_status'] != 'delivered') & orders['order_delivered_customer_date'].notna()]

# Count the number of order IDs for not delivered orders with a valid order_delivered_customer_date
not_delivered_count = not_delivered_with_timestamp['order_id'].nunique()

# Count the number of order IDs for delivered orders (considering all orders)
total_orders = orders['order_id'].nunique()
delivered_count = total_orders - not_delivered_count

# Retrieve the data for not delivered orders with a valid order_delivered_customer_date
not_delivered_data = not_delivered_with_timestamp[['order_id', 'order_status', 'order_delivered_customer_date']]

print(f"Number of order IDs with order_status as not delivered and a valid order_delivered_customer_date: {not_delivered_count}")
print(f"Number of order IDs with order_status as delivered: {delivered_count}")
print("Data for not delivered orders with a valid order_delivered_customer_date:")
print(not_delivered_data)

Number of order IDs with order_status as not delivered and a valid order_delivered_customer_date: 6
Number of order IDs with order_status as delivered: 99435
Data for not delivered orders with a valid order_delivered_customer_date:
                               order_id order_status  \
2921   1950d777989f6a877539f53795b4c3c3     canceled
8791   dabf2b0e35b423f94618bf965fcb7514     canceled
58266  770d331c84e5b214bd9dc70a10b829d0     canceled
59332  8beb59392e21af5eb9547ae1a9938d06     canceled
92636  65d1e226dfaeb8cdc42f665422522d14     canceled
94399  2c45c33d2f9cb8ff8b1c86cc28c11c30     canceled

      order_delivered_customer_date
2921            2018-03-21 22:03:51
8791            2016-10-16 14:36:59
58266           2016-10-14 15:07:11
59332           2016-10-19 18:47:43
92636           2016-11-08 10:58:34
94399           2016-11-09 14:53:50

In [36]:
# Filter the DataFrame for orders with order_status as "delivered" and order_delivered_customer_date as null
delivered_without_customer_date = orders[(orders['order_status'] == 'delivered') & orders['order_delivered_customer_date'].isnull()]

# Print the order_id values for orders with order_status as "delivered" but don't have order_delivered_customer_date
order_ids_delivered_without_customer_date = delivered_without_customer_date['order_id'].unique()

print("Order IDs for orders with order_status as 'delivered' but don't have order_delivered_customer_date:")
for order_id in order_ids_delivered_without_customer_date:
    print(order_id)

# Count the number of records
num_records = delivered_without_customer_date.shape[0]
print(f"Number of records: {num_records}")

Order IDs for orders with order_status as 'delivered' but don't have order_delivered_customer_date:
2d1e2d5bf4dc7227b3bfebb81328c15f
f5dd62b788049ad9fc0526e3ad11a097
2ebdfc4f15f23b91474edf87475f108e
e69f75a717d64fc5ecdfae42b2e8e086
0d3268bad9b086af767785e3f0fc0133
2d858f451373b04fb5c984a1cc2defaf
ab7c89dc1bf4a1ead9d6ec1ec8968a84
20edc82cf5400ce95e1afacc25798b31
Number of records: 8

In [37]:
# Retrieve the dimensions of the products DataFrame
orders.shape

(99441, 8)

#### Data Cleaning and Transformation

Converting date columns to datetime64 format

In [15]:
# function pd.to_datetime to convert type date columns from object to datetime64
orders['order_purchase_timestamp']=pd.to_datetime(orders['order_purchase_timestamp'])
orders['order_approved_at']=pd.to_datetime(orders['order_approved_at'])
orders['order_delivered_carrier_date']=pd.to_datetime(orders['order_delivered_carrier_date'])
orders['order_delivered_customer_date']=pd.to_datetime(orders['order_delivered_customer_date'])
orders['order_estimated_delivery_date']=pd.to_datetime(orders['order_estimated_delivery_date'])

In [16]:
#Information about the dataset
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [17]:
# find the average of the time between purchase_timestamp ( not any null) with delivered_carrier.
orders_data_1=orders[orders['order_delivered_carrier_date'].notnull()]

miss_carrier=(orders_data_1['order_purchase_timestamp']-orders_data_1['order_delivered_carrier_date']).mean()
miss_carrier #we name it: miss_carrier

Timedelta('-4 days +18:22:58.055807')

In [18]:
# find the average of the time between purchase_timestamp ( not any null) with delivered_customer_date.
orders_data_2=orders[orders['order_delivered_carrier_date'].notnull()]

mean_deliver=(orders_data_1['order_purchase_timestamp']-orders_data_1['order_delivered_customer_date']).mean()
mean_deliver #we name it: mean_deliver

Timedelta('-13 days +10:36:03.848706919')

In [19]:
# Filter the orders DataFrame to include only rows where 'order_approved_at' is null
null_approved_at = orders[orders['order_approved_at'].isnull()]

# Print the filtered DataFrame
print(null_approved_at)

                               order_id                       customer_id  \
1130   00b1cb0320190ca0daa2c88b35206009  3532ba38a3fd242259a514ac2b6ae6b6
1801   ed3efbd3a87bea76c2812c66a0b32219  191984a8ba4cbb2145acb4fe35b69664
1868   df8282afe61008dc26c6c31011474d02  aa797b187b5466bc6925aaaa4bb3bed1
2029   8d4c637f1accf7a88a4555f02741e606  b1dd715db389a2077f43174e7a675d07
2161   7a9d4c7f9b068337875b95465330f2fc  7f71ae48074c0cfec9195f88fcbfac55
...                                 ...                               ...
97696  5a00b4d35edffc56b825c3646a99ba9d  6a3bdf004ca96338fb5fad1b8d93c2e6
98415  227c804e2a44760671a6a5697ea549e4  62e7477e75e542243ee62a0ba73f410f
98909  e49e7ce1471b4693482d40c2bd3ad196  e4e7ab3f449aeb401f0216f86c2104db
99283  3a3cddda5a7c27851bd96c3313412840  0b0d6095c5555fe083844281f6b093bb
99347  a89abace0dcc01eeb267a9660b5ac126  2f0524a7b1b3845a1a57fcf3910c4333

      order_status order_purchase_timestamp order_approved_at  \
1130      canceled      2018-08-28 15:26:39               NaT
1801      canceled      2018-09-20 13:54:16               NaT
1868      canceled      2017-03-04 12:14:30               NaT
2029      canceled      2018-08-29 16:27:49               NaT
2161      canceled      2017-05-01 16:12:39               NaT
...            ...                      ...               ...
97696     canceled      2017-07-02 15:38:46               NaT
98415     canceled      2017-09-28 15:02:56               NaT
98909     canceled      2018-08-07 11:16:28               NaT
99283     canceled      2018-08-31 16:13:44               NaT
99347     canceled      2018-09-06 18:45:47               NaT

      order_delivered_carrier_date order_delivered_customer_date  \
1130                           NaT                           NaT
1801                           NaT                           NaT
1868                           NaT                           NaT
2029                           NaT                           NaT
2161                           NaT                           NaT
...                            ...                           ...
97696                          NaT                           NaT
98415                          NaT                           NaT
98909                          NaT                           NaT
99283                          NaT                           NaT
99347                          NaT                           NaT

      order_estimated_delivery_date
1130                     2018-09-12
1801                     2018-10-17
1868                     2017-04-10
2029                     2018-09-13
2161                     2017-05-30
...                             ...
97696                    2017-07-25
98415                    2017-10-16
98909                    2018-08-10
99283                    2018-10-01
99347                    2018-09-27

[160 rows x 8 columns]

In [20]:
# Filter the orders DataFrame to include only rows where 'order_approved_at' is null and 'order_status' is 'delivered'
null_approved_delivered = orders[(orders['order_approved_at'].isnull()) & (orders['order_status'] == 'delivered')]

# Print the filtered DataFrame
print(null_approved_delivered)

                               order_id                       customer_id  \
5323   e04abd8149ef81b95221e88f6ed9ab6a  2127dc6603ac33544953ef05ec155771
16567  8a9adc69528e1001fc68dd0aaebbb54a  4c1ccc74e00993733742a3c786dc3c1f
19031  7013bcfc1c97fe719a7b5e05e61c12db  2941af76d38100e0f8740a374f1a5dc3
22663  5cf925b116421afa85ee25e99b4c34fb  29c35fc91fc13fb5073c8f30505d860d
23156  12a95a3c06dbaec84bcfb0e2da5d228a  1e101e0daffaddce8159d25a8e53f2b2
26800  c1d4211b3dae76144deccd6c74144a88  684cb238dc5b5d6366244e0e0776b450
38290  d69e5d356402adc8cf17e08b5033acfb  68d081753ad4fe22fc4d410a9eb1ca01
39334  d77031d6a3c8a52f019764e68f211c69  0bf35cac6cc7327065da879e2d90fae8
48401  7002a78c79c519ac54022d4f8a65e6e8  d5de688c321096d15508faae67a27051
61743  2eecb0d85f281280f79fa00f9cec1a95  a3d3c38e58b9d2dfb9207cab690b6310
63052  51eb2eebd5d76a24625b31c33dd41449  07a2a7e0f63fd8cb757ed77d4245623c
67697  88083e8f64d95b932164187484d90212  f67cd1a215aae2a1074638bbd35a223a
72407  3c0b8706b065f9919d0505d3b3343881  d85919cb3c0529589c6fa617f5f43281
84999  2babbb4b15e6d2dfe95e2de765c97bce  74bebaf46603f9340e3b50c6b086f992

      order_status order_purchase_timestamp order_approved_at  \
5323     delivered      2017-02-18 14:40:00               NaT
16567    delivered      2017-02-18 12:45:31               NaT
19031    delivered      2017-02-18 13:29:47               NaT
22663    delivered      2017-02-18 16:48:35               NaT
23156    delivered      2017-02-17 13:05:55               NaT
26800    delivered      2017-01-19 12:48:08               NaT
38290    delivered      2017-02-19 01:28:47               NaT
39334    delivered      2017-02-18 11:04:19               NaT
48401    delivered      2017-01-19 22:26:59               NaT
61743    delivered      2017-02-17 17:21:55               NaT
63052    delivered      2017-02-18 15:52:27               NaT
67697    delivered      2017-02-18 22:49:19               NaT
72407    delivered      2017-02-17 15:53:27               NaT
84999    delivered      2017-02-18 17:15:03               NaT

      order_delivered_carrier_date order_delivered_customer_date  \
5323           2017-02-23 12:04:47           2017-03-01 13:25:33
16567          2017-02-23 09:01:52           2017-03-02 10:05:06
19031          2017-02-22 16:25:25           2017-03-01 08:07:38
22663          2017-02-22 11:23:10           2017-03-09 07:28:47
23156          2017-02-22 11:23:11           2017-03-02 11:09:19
26800          2017-01-25 14:56:50           2017-01-30 18:16:01
38290          2017-02-23 03:11:48           2017-03-02 03:41:58
39334          2017-02-23 07:23:36           2017-03-02 16:15:23
48401          2017-01-27 11:08:05           2017-02-06 14:22:19
61743          2017-02-22 11:42:51           2017-03-03 12:16:03
63052          2017-02-23 03:09:14           2017-03-07 13:57:47
67697          2017-02-22 11:31:06           2017-03-02 12:06:06
72407          2017-02-22 11:31:30           2017-03-03 11:47:47
84999          2017-02-22 11:23:11           2017-03-03 18:43:43

      order_estimated_delivery_date
5323                     2017-03-17
16567                    2017-03-21
19031                    2017-03-17
22663                    2017-03-31
23156                    2017-03-20
26800                    2017-03-01
38290                    2017-03-27
39334                    2017-03-22
48401                    2017-03-16
61743                    2017-03-20
63052                    2017-03-29
67697                    2017-03-21
72407                    2017-03-23
84999                    2017-03-31

##### Create table in postgreSQL

In [43]:
# Create connection engine
#user postgres, password admin,database
#engine = db.create_engine('postgresql://postgres:admin@localhost:5434/olist_store') 
engine = db.create_engine('postgresql://adminadmin:InsightJDE03@jde03.postgres.database.azure.com:5432/postgres')

conn = engine.raw_connection()

In [44]:
# Create new tables in PostgreSQL

commands = ('''CREATE TABLE IF NOT EXISTS orders (
    order_id VARCHAR PRIMARY KEY,
    customer_id VARCHAR,
    order_status VARCHAR,
    order_purchase_timestamp TIMESTAMP,
    order_approved_at TIMESTAMP,
    order_delivered_carrier_date TIMESTAMP,
    order_delivered_customer_date TIMESTAMP,
    order_estimated_delivery_date TIMESTAMP
);''')

  
# Initialize connection to PostgreSQL
cur = conn.cursor()

# Create cursor to execute SQL commands

#for command in commands:
cur.execute(commands)

# Commit changes
conn.commit()

# Close communication with server
cur.close()
conn.close()

In [45]:
# Insert the data into the 'orders' table
orders.to_sql('orders', engine, if_exists='append', index=False)

441